# Likitha
- Engineer
    - *CSE*
    - **GITAM**
    - ***Student***

### Python Introdution
- Python 3
- Python can be used as functional pogramming
- used as sccripting programming
- initially designed be **guido van**

In [2]:
# Input and Output Function
# Output Function
print("Hello Likitha")
print("Welcome to Python Programming")

Hello Likitha
Welcome to Python Programming

In [3]:
print("Markdown Cell",end = ' ')
print("Code Cell")

Markdown Cell Code Cell

In [5]:
# input function
print("Enter your name : ")
a = input(' ')
print('Your name is ',a)

Enter your name :
 Likitha
Your name is  Likitha

## variables are also called as idenifiers
## variable name starts with alphabets
## does not start with any special character except _
## does not start with digits

In [7]:
x=10
type(x)

int

In [8]:
x=10.3
type(x)

float

In [9]:
y=10.7
x+y

21.0

# Fundamental datatypes
- int
- float
- complex
- boolean
- string

In [10]:
x=2
y=2.2
x+y

4.2

In [12]:
x=10
y=10.3
print(x+y)
type(y)

20.3

float

In [13]:
c=2+ 2j
d=3+ 3j
c+d

(5+5j)

In [17]:
# TYPE CASTING
a=12.56
print(int(a))
complex(a)

12

(12.56+0j)

In [20]:
complex(3,4)

(3+4j)

# boolean datatype
- TRUE
- FALSE

In [23]:
a=  True
type(a)

bool

In [25]:
b= False
type(b)

bool

In [26]:
b=False
type(b)

bool

In [27]:
# STRING Datatype
a="Python"
b="p"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [31]:
a='100'
print(type(a))
b=int(a)
print(type(b))
c=float(a)
type(c)

<class 'str'>
<class 'int'>

float

In [35]:
a='123334'
len(a)

6

# OPERATORS
- **Arithmetic operators**
    - +,-,*,/,%,//,**  //-floor division(removes decimal part and roundup to a specific number)
- **Logical Operator**
    - and,or,not
- **Relational Operator**
    - <,<=,>,>=,==,!=
- **Membership operator**
    - in,not in

In [36]:
12345//6

2057

In [37]:
12345/6

2057.5

In [38]:
a=7
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

9
5
14
3.5
1
3
49

In [42]:
x=5
y=8
print(x>=12 and y<=10)

False

In [44]:
x=4
y=40
print(x>=0 or y<=30)
not x

True

False

In [45]:
x=3
y=4
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)
print(x==y)
print(x!=y)

False
True
True
False
False
True

In [49]:
a="Likitha"
print('L' in a)
print('d' in a)

True
False

In [48]:
a="Likitha"
print('L' not in a)
print('d' not in a)

False
True

# Conditional statements
- **if** (single statements)
- **if else** (two statements)
- **elif** (multiplt statements)

In [51]:
# to check given number is even or odd
a=input("enter a number")

enter a number6

In [52]:
type(a)

str

In [56]:
# given number is even or odd
a=int(input("enter a number"))
if a%2==0:
    print("even")
else:
        print("odd")

enter a number3
odd

In [60]:
# to check whether the number is divisible with 3 and 5
a=int(input("enter a number"))
if a%3==0 and a%5==0:
    print("divisible")
else:
    print("not divisible")

enter a number15
divisible

In [2]:
# to check whether the number is positive or negative or 0
x=int(input("enter a number"))
if x>0:
    print("positive")
elif x<0:
    print("negative")
else:
    print("zero")

enter a number-234
negative

In [11]:
# to check for leap year
year=int(input("enter a year"))
if year%4==0:
    if year%400==0:
        if year%100==0:
            print("{0} is a leap year".format(year))
        else:
            print("{0} is not a leap year".format(year))
    else:
        print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

enter a year2012
2012 is a leap year

# Looping Statements
- while loop
- for loop
- do while loop

In [12]:
# print numbers from 1 to n
n= int(input("enter value"))
i=1
while(i<=n):
    print(i)
    i+=1

enter value5
1
2
3
4
5